# Logs
./vue-app/logs
./vue-app/*.log
./vue-app/npm-debug.log*
./vue-app/yarn-debug.log*
./vue-app/yarn-error.log*
./vue-app/pnpm-debug.log*
./vue-app/lerna-debug.log*

./vue-app/node_modules
./vue-app/.DS_Store
./vue-app/dist
./vue-app/dist-ssr
./vue-app/coverage
./vue-app/*.local

./vue-app//cypress/videos/
./vue-app//cypress/screenshots/

# Editor directories and files
vue-app/.vscode/*
./vue-app/!vue-app/.vscode/extensions.json
./vue-app/vue-app/.idea
./vue-app/*.suo
./vue-app/*.ntvs*
./vue-app/*.njsproj
./vue-app/*.sln
./vue-app/*.sw?

./vue-app/*.tsbuildinfo
