@use 'mixins' as *;

.filter-container{
  position: relative;
  display: flex;
  gap: 12px;
}

.filter {
  position: sticky;
  min-width: 300px;
  top: 5rem;
  left: 0;
  width: 24rem;
  height: calc(100vh - 8rem);
  z-index: 999;
  overflow-y: auto;
  user-select: none;

  //transition: transform var(--layout-section-transition-duration),
  //left var(--layout-section-transition-duration);
  background-color: var(--surface-overlay);
  border-radius: var(--content-border-radius);
  padding: 1rem 1.5rem;

  @media screen and (max-width: 976px) {
    position: absolute;
    left: 0;
    top: 0;
  }
}
