.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 6rem 2rem 0 2rem;
    //transition: margin-left var(--layout-section-transition-duration);

    @media screen and (max-width: 976px) {
        padding: 2rem 2rem 0 2rem;
    }
}

.layout-main {
    flex: 1 1 auto;
    padding-bottom: 2rem;
}
