@use 'mixins' as *;


.link__menu {
  display: flex;
  align-items: center;
  position: relative;
  outline: 0 none;
  color: var(--text-color);
  cursor: pointer;
  padding: 0.75rem 1rem;
  border-radius: var(--content-border-radius);
  transition: background-color var(--element-transition-duration),
  box-shadow var(--element-transition-duration);

  .layout-menuitem-icon {
    margin-right: 0.5rem;
  }

  .layout-submenu-toggler {
    font-size: 75%;
    margin-left: auto;
    transition: transform var(--element-transition-duration);
  }

  &.active-route {
    font-weight: 700;
    color: var(--primary-color);
  }

  &:hover {
    background-color: var(--surface-hover);
  }

  &:focus {
    @include focused-inset();
  }
}

